﻿@model IEnumerable<eProject3.Model.DAL.Product>
@if ((int)ViewBag.Count > 0)
{
    foreach (var item in Model)
    {
        var url = "/Product/Detail/" + item.MetaTitle + "/" + item.Id;
        <div class="col-md-3 product-left">
            <div class="p-one simpleCart_shelfItem" style="height:410px;">
                <a href="@url">
                    <img src="@item.UrlImage" width="223" height="232" alt="" />
                    <div class="mask">
                        <span>Xem chi tiết</span>
                    </div>
                </a>
                <h4>@item.Name</h4>
                @if (item.PromotionPrice > 0)
                {
                    if (item.Quantity > 0)
                    {
                        <p><a class="" href="#"><span class=""><strike>@(item.Price.Value.ToString("N0")) đ</strike></span></a></p> <br />
                        <p><a class="item_add" href="/Cart/AddItem?productId=@item.Id&quantity=1"><i></i> <span class=" item_price">@(item.PromotionPrice.Value.ToString("N0")) đ</span></a></p>
                    }
                    else
                    {
                        <p><a class="" href="#"><span class=""><strike>@(item.Price.Value.ToString("N0")) đ</strike></span></a></p> <br />
                        <p><a class="item_add" style="pointer-events: none" href="/Cart/AddItem?productId=@item.Id&quantity=1"><i></i> <span class=" item_price">@(item.PromotionPrice.Value.ToString("N0")) đ</span></a></p>
                    }
                }
                else
                {
                    if (item.Quantity > 0)
                    {
                        <p><a class="item_add" href="/Cart/AddItem?productId=@item.Id&quantity=1"><i></i> <span class=" item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") + " đ" : "Liên hệ")</span></a></p>
                    }
                    else
                    {
                        <p><a class="item_add" style="pointer-events: none" href="/Cart/AddItem?productId=@item.Id&quantity=1"><i></i> <span class=" item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") + " đ" : "Liên hệ")</span></a></p>
                    }
                }
            </div>
        </div>
    }
}

