﻿@model eProject3.Model.DAL.Product
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.MetaKeywords, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.MetaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.UrlImage, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.UrlImage, new { htmlAttributes = new { @class = "form-control col-md-9 float-left", @id = "txtImage" } })
                    <button id="btnSelectImage" class="btn-primary btn-sm ml-2 float-left">Chọn ảnh</button>
                    @Html.ValidationMessageFor(model => model.UrlImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PromotionPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductCategoryId, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.DropDownList("ProductCategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.MetaDescriptions, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.TextAreaFor(model => model.MetaDescriptions, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MetaDescriptions, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row pt-1">
            <div class="col-md-6">
                @Html.LabelFor(model => model.TopHot, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    <div class="checkbox">
                        @Html.DropDownListFor(m => m.TopHot, new SelectList(new[]
                        {
                            new SelectListItem { Value = null, Text = "Trạng thái" },
                            new SelectListItem { Value = "false", Text = "Không kích hoạt" },
                            new SelectListItem { Value = "true", Text = "Kích hoạt" },
                        }, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsNewProduct, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.TopHot, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.IsNewProduct, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    <div class="checkbox">
                        @Html.DropDownListFor(m => m.IsNewProduct, new SelectList(new[]
                        {
                            new SelectListItem { Value = null, Text = "Trạng thái" },
                            new SelectListItem { Value = "false", Text = "Không kích hoạt" },
                            new SelectListItem { Value = "true", Text = "Kích hoạt" },
                        }, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsNewProduct, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-1">
            <div class="col-md-6">
                @Html.LabelFor(model => model.IsNormalProduct1, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    <div class="checkbox">
                        @Html.DropDownListFor(m => m.IsNormalProduct1, new SelectList(new[]
                        {
                            new SelectListItem { Value = null, Text = "Trạng thái" },
                            new SelectListItem { Value = "false", Text = "Không kích hoạt" },
                            new SelectListItem { Value = "true", Text = "Kích hoạt" },
                        }, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsNormalProduct1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.IsNormalProduct2, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    <div class="checkbox">
                        @Html.DropDownListFor(m => m.IsNormalProduct2, new SelectList(new[]
                        {
                            new SelectListItem { Value = null, Text = "Trạng thái" },
                            new SelectListItem { Value = "false", Text = "Không kích hoạt" },
                            new SelectListItem { Value = "true", Text = "Kích hoạt" },
                        }, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsNormalProduct2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <div class="col-md-offset-2 col-md-12">
                <button type="submit" class="btn-sm btn-group-sm btn-primary">Thêm mới</button>
            </div>
        </div>
    </div>
}

<div>
    <a href="/Admin/Products" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Trở về</a>
</div>
@section Scripts{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        CKEDITOR.replace("Description");
        CKEDITOR.replace("MetaDescriptions");
    </script>
}