﻿@model eProject3.Model.DAL.Product
@{
    Layout = null;
}

<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center delete">
                <h4 class="modal-title mt-2 mb-2" id="deleteModal">Bạn có chắc chắn muốn xóa bản ghi này không?</h4>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color text-center">
                        <input type="submit" value="Xóa" class="btn btn-sm btn-primary" />
                        <button type="button" class="btn btn-sm btn-danger" style=" border: 0.5px solid #a8a9ad;" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>