﻿@model IEnumerable<eProject3.Model.DAL.ProductCategory>
@{
    ViewBag.Title = "Danh mục loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <p>
                    <a href="/Admin/ProductCategories/Create" class="btn btn-group-sm btn-primary text-decoration-none"><i class="fa fa-plus"></i> Thêm mới</a>
                </p>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DisplayOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MetaTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SeoTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MetaKeywords)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MetaDescriptions)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </th>
                        <th class="text-center" style="width: 115px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MetaTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeoTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MetaKeywords)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MetaDescriptions)
                        </td>
                        <td>
                            @if (!item.IsDeleted) 
                            {
                                <p>Hoạt động</p>
                            } 
                            else 
                            { 
                                <p>Đã xóa</p>
                            }
                        </td>
                        <td class="text-center">
                            <a class="btn-sm btn-group-sm btn-success" href="/Admin/ProductCategories/Edit?id=@item.Id"><i class="far fa-edit"></i></a>
                            <a class="btn-sm btn-group-sm btn-secondary dialog-link" href="@Url.Action("Details", new { id = item.Id })"><i class="fas fa-info"></i></a>
                            @if (!item.IsDeleted)
                            {
                                <a class="btn-sm btn-group-sm btn-danger dialog-link" href="@Url.Action("Delete", new { id = item.Id })"><i class="far fa-trash-alt"></i></a>
                            }
                            else
                            {
                                <a class="btn-sm btn-group-sm btn-primary dialog-link" href="@Url.Action("Restore", new { id = item.Id })"><i class="fas fa-trash-restore-alt"></i></a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            @if (Model.Count() <= 0)
            {
                <div class="text-center text-danger">Không có dữ liệu</div>
            }
        </div>
    </div>
</div>