﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FreeStyle - OnlineShop - Administrator</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template-->
    <link href="~/Content/Admin/css/sb-admin-2.css" rel="stylesheet">

    <link href="~/Content/Admin/css/chart.css" rel="stylesheet">
</head>

<body id="page-top" onload="startTime()">

    <!-- Page Wrapper -->
    <div id="wrapper">
        @RenderPage("_Navigation.cshtml")
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                @RenderPage("_TopBar.cshtml")
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @if (TempData["AlertMessage"] != null)
                {
                    <div id="alertBox" style="position: fixed; right: 0px;" class="container float-right text-center col-md-3 alert @TempData["AlertType"] hide">
                        @TempData["AlertMessage"]
                    </div>
                }
                <div class="container-fluid">
                    <!--start-breadcrumbs-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Admin/Home/Index">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                    <!--end-breadcrumbs-->
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Gas Shop Online 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/Admin/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/Admin/js/demo/chart-pie-demo.js"></script>

    <script src="~/Content/Plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Content/Admin/js/modal-dialog.js"></script>
    <script src="~/Content/Admin/js/demo/chart.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $("#alertBox").removeClass('hide');
        $("#alertBox").delay(2000).slideUp(500);
    </script>
    <script src="~/Scripts/removeAdsSomee.js"></script>
</body>

</html>