﻿@{
    var session = (eProject3.Model.Common.UserLogin)Session[eProject3.Model.Common.CommonConstants.USER_SESSION];
}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home">
        <i class="fas fa-shoe-prints fa-2x"></i>
        <div class="sidebar-brand-text mx-3">Free Style Administartor</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Admin/Home">
            <i class="fas fa-home"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý chung
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    @if (session?.GroupId == "ADMIN")
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Giao diện người dùng</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/Admin/Menus">Menu</a>
                    <a class="collapse-item" href="/Admin/Slides">Slide</a>
                    <a class="collapse-item" href="/Admin/Contacts">Thông tin cửa hàng</a>
                    <a class="collapse-item" href="/Admin/Footers">Footer</a>
                </div>
            </div>
        </li>
    }

    <!--Order, Order Detail-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder" aria-expanded="true" aria-controls="collapsePages">
            <i class="fab fa-jedi-order"></i>
            <span>Quản lý đơn hàng</span>
        </a>
        <div id="collapseOrder" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/Orders">Đơn đặt hàng</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý hệ thống
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#product" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-pen-square"></i>
            <span>Quản lý sản phẩm</span>
        </a>
        <div id="product" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/Products">Sản phẩm</a>
                <a class="collapse-item" href="/Admin/ProductCategories">Nhóm sản phẩm</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-pen-square"></i>
            <span>Quản lý bài viết</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/News">Tin tức</a>
                <a class="collapse-item" href="/Admin/NewCategories">Nhóm tin tức</a>
                <a class="collapse-item" href="/Admin/Abouts">Giới thiệu cửa hàng</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    @if (session.GroupId == "ADMIN")
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-users"></i>
                <span>Quản lý người dùng</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/Admin/UserGroups">Nhóm người dùng</a>
                    <a class="collapse-item" href="/Admin/Users">Tài khoản người dùng</a>
                    <a class="collapse-item" href="/Admin/Roles">Quản lý phân quyền</a>
                    <a class="collapse-item" href="/Admin/Credentials">Phân quyền người dùng</a>
                </div>
            </div>
        </li>
    }

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->